# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.15.1
    steps:
      - checkout
      - run: sudo npm install -g yarn
      - run: yarn install --frozen-lockfile
      - run: yarn test
      - setup_remote_docker:
          docker_layer_caching: true
      - run: docker info
      - run: docker build -t leverj/leverj-mm:$CIRCLE_BRANCH pacakages/bot/
      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: docker push leverj/leverj-mm
      - run: docker logout
